<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body style="background-color: <%=colorElegido%>"> 
<h1>Elegiste el color <%=colorElegido%></h1>
</body>
</html>